
* {
  box-sizing: border-box;
}

html, body {
  background: #f6f6f8;
  color: #414e60;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  font-size: 111%;
  border: 5px solid #01a1cd;
}

body { padding-bottom: 100px; }

h1, section h1 {
  font-size: 2em;
}

main {
  max-width: 1000px;
  margin: 0 auto 3em;
  padding: 0 20px;
}

.image-wrapper {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 2em;
}

#mc_embed_signup form {
  padding: 10px 0 10px 0 !important;
}

#mc_embed_signup .indicates-required {
  margin-bottom: -1.75em;
}

a {
  color: #01a1cd;
}